.resetpassword {
    background-color: rgb(72, 71, 71);
    position: relative;
    width: 30vw;
    height: auto;
    padding: 5vh;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resetpassword h1 {
    color: aliceblue;
    margin-bottom: 20px; /* Add spacing below the heading */
}

.resetpassword label {
    color: aliceblue;
    align-self: flex-start; /* Align labels to the left */
    margin-bottom: 5px; /* Add spacing between label and input */
}

.resetpassword input {
    width: 100%; /* Make inputs take up full width of the form */
    margin-bottom: 15px; /* Add spacing below each input */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.resetpassword button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px; /* Add space above the button */
    align-self: center; /* Center button within form */
}

.resetpassword button:hover {
    background-color: #45a049;
}
.error{
    color: aliceblue;
}